<app-header></app-header>
<section class="about_banner">
    <div class="container">
        <div class="common_heading_banner">
            <h1>About Us</h1>
            <p class="bread_wrap"><a routerLink="/" class="home_bread">Home</a> / About us</p>
        </div>
    </div>
</section>

<section class=" common_padding about_wrap">
   <div class="container">
      <div class="row">
          <div class="col-sm-6 abt_wrp">
             <div class="about_content">
                 <h3>The Richest Masala In The World</h3>
                 <p>Quisque volutpat mattis eros. Nullam malesuada erat ut ki diaml ka dhuddu pochu turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat</p>
                 <p class="itlalic_content">Nullam malesuada erat ut ki diaml ka dhuddu pochu turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Morbi in sem quis dui placerat ornare. Tortor dignissim convallis aenean et tortor. Ac tincidunt vitae semper quis lectus nulla at volutpat diam.</p>
             </div>
          </div>
          <div class="col-sm-6">
              <div class="about_img">
                  <img src="../../assets/img/about-1.jpg" class="img-fluid">
              </div>
        </div>
      </div> 
   </div>
</section>

<section class="common_padding taste_abt">
    <div class="container">
        <div class="heading_main">
            <h3>A unique blended taste</h3>
            <p>At volutpat diam ut venenatis tellus in metus vulputate sit set ramet sagit.</p>
            <img src="../../assets/img/star-img.png" class="img-fluid">
        </div>
        <div class="row mb-4">
            <div class="col-sm-6">
                <div class="img_abt">
                    <img src="../../assets/img/taste-img-1.jpg" class="img-fluid"> 
                </div>
            </div>
            <div class="col-sm-6 taste_blnd">
                <div class="abt_content_wrp">
                    <h3>The finest spice</h3>
                    <p>Donec arcu purus, euismod nec eleifend et, luctus efficitur erat. Pellentesque at justo porttitor quis ornare ante integer quis ornare ante. Phasellus vel aliquam libero. Donec arcu purus, euismod nec eleifend et, luctus efficitur erat. Pellentesque at justo porttitor quis ornare ante integer quis ornare ante. Phasellus vel aliquam libero.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 taste_blnd">
                <div class="abt_content_wrp">
                    <h3>The premium flavor</h3>
                    <p>Donec arcu purus, euismod nec eleifend et, luctus efficitur erat. Pellentesque at justo porttitor quis ornare ante integer quis ornare ante. Phasellus vel aliquam libero. Donec arcu purus, euismod nec eleifend et, luctus efficitur erat. Pellentesque at justo porttitor quis ornare ante integer quis ornare ante. Phasellus vel aliquam libero.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="img_abt">
                    <img src="../../assets/img/taste-img-2.jpg" class="img-fluid"> 
                </div>
            </div>
            
        </div>
    </div>
</section>
<app-footer></app-footer>
