<app-header></app-header>
<section class="about_banner">
    <div class="container">
        <div class="common_heading_banner">
            <h1>Shop Detail</h1>
            <p class="bread_wrap"><a href="#" class="home_bread">Home</a> / <a href="/blog" class="home_bread">Blog</a> / Berberry </p>
        </div>
    </div>
</section>

<section class="common_padding shop_detail_wrap">
 <div class="container">
     <div class="row">
         <div class="col-sm-6">
             <div class="img_shp_detail">
               <img src="../../assets/img/shop-img-detail-1.jpg" class="img-fluid">
             </div>
         </div>
         <div class="col-sm-6">
            <div class="img_shp_content">
               <h3>Pepper Rasam Powder (250 gms)</h3>
               <h6>RASAYATI</h6>
                <p> ₹190.00</p>
            </div>
            <div class="product_detail">
                <h3>Product details</h3>
                <p>Prepare the pepper rasam, also known as Mozhagh Podi (Tamil) & Menasina Saaru (Kannada) with this super tasty powder in just a few minutes.</p>
            </div>
        </div>
     </div>
 </div>
</section>

<app-footer></app-footer>
