
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
p,div, input{
    font-size: 14px;
}
.form-control{
    font-size: 14px !important;
}
a{
    text-decoration: none !important;
}
.footer_wrap {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}
.footer_links {
    width: 20%;
}
.footer_menu.dt-sc-list {
    padding-left: 0;
}
.footer_menu.dt-sc-list li a:before {
    content: "\f105";
    font-family: 'FontAwesome';
    position: relative;
    padding-right: 10px;
}
.footer_links ul li {
    list-style: none;
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
}
.footer__title {
    margin-bottom: 30px;
    color: #ec4327;
    font-size: 20px;
}
.best_product_list h3 {
    margin-top: 16px;
}
.footer_menu.dt-sc-list li a {
    color: #ffffff;
}
.footer_links p {
    color: #ffffff;
    font-size: 14px;
}
.footer_menu.dt-sc-list li a:hover {
    color: #f4b323;
}
.footer_banner{
    background: url(../../assets/img/footer-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 50px;
}
.dt-sc-list-inline {
    display: flex;
    flex-wrap: wrap;
}
.header_cls .header_wrap .nav-item a:hover{
    color: #f4b323;
}
.text-start .dt-sc-social-icons li {
    margin-right: 15px;
}
.text-start li a {
    color: #ffffff;
}
.text-start li a:hover {
    color: #f4b323;
}
.icon__fallback-text {
    font-size: 0;
}
.footer_banner:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #292929;
    opacity: 0.5;
}
.footer_links_help{
    width: 15%;
}
.footer_links_info{
    width: 15%;
}
.footer_links_supp{
    width: 15%;
}
.contact-info li {
    position: relative;
}
.contact-info {
    padding-left: 0;
}
footer .site-footer__bottom {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0);
    line-height: 2em;
    color: #fff;
    z-index: 1;
    position: relative;
    border-top: 1px solid #565656;
    padding-top: 10px;
}
.dt-sc-flex-space-between {
    display: flex;
    justify-content: space-between;
}
.dt-sc-flex-space-between>:last-child {
    justify-content: flex-end;
    text-align: right;
}
.dt-sc-list-inline {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
footer .site-footer__bottom p, footer .site-footer__bottom a {
    color: #ffffff;
    font-size: 14px;
}
.footer_menu.dt-sc-list-inline .home_link a:before {
   content: none;
}
.footer_menu.dt-sc-list-inline li a:before {
    content: "|";
    position: relative;
    padding: 0 10px;
    color: #ffffff;
}
 .contact-info i {
    padding-right: 10px;
}
.read_more{
    color: #f4b323;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
}
.header_wrap {
    background: #000;
    padding: 10px 10px !important;
}
.header_cls {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 1;
}
.header_cls .header_wrap .nav-item a{
    color: #fff;
    font-size: 14px;
}
.header_cls .header_wrap .nav-item a.active{
    color: #fff;
}
.logo_wrap {
    width: 100px;
    height: 43px !important;
    object-fit: cover;
}
.office-mail a {
    color: #fff;
}

.common_padding{
    padding: 50px 0px;
}
.heading_main p {
    font-size: 18px;
}
.heading_main h3 {
    font-size: 26px;
    color: #ec4327;
    font-weight: 700;
}
.heading_main img {
    width: 40px;
}
.heading_main {
    text-align: center;
    margin-bottom: 40px;
}
.about_banner{
    background: url(../../assets/img/rasayati_bg.jpg);
    background-size: cover;
    position: relative;
    height: 300px;
}
.common_heading_banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.common_heading_banner h1 {
    color: #fff;
    font-size: 30px;
}
.bread_wrap {
    color: #fff;
    font-size: 14px;
}
.home_bread {
    color: #fff;
}
::placeholder{
    font-size: 14px;
}
.pagination_wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination_wrap .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #9f4215;
    border-color: #9f4215;
}
.pagination_wrap .page-link {
    font-size: 14px;
    color: #000;
}
/* responsive css start here */
 @media(max-width:767px){
    .best_product{
        display: block !important;
    }
    .footer_wrap {
        display: block;
    }
    .footer_links {
        width: 100%;
    }
    .footer_links_info {
        width: 100%;
    }
    .footer_links_supp {
        width: 100%;
    }
    .healthy_herb{
        width: 100%;
        height: auto;
    }
    .dt-sc-grid-banner-inner.text-start{
     width: 100% !important;
    }
    .blog_content {
        margin-top: 20px;
    }
    .dt-sc-blog-meta {
        display: block !important;
    }
    .form_wrap {
        width: 100% !important;
        margin: auto;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgba(0,0,0,.1);
        background: #f4b331;
    }
 }