<footer class="footer_banner">
    <div class="container">
        <div class="footer_wrap">
            <div class="footer_links">
                <h4 class="footer__title">About Us</h4>
                <p>Rasayati (taste/flavor), by @Chitra Diwakar - presents to you a variety of mixture of the Indian spices.
                  Feel free to explore the various homemade delicacy options that make your dishes lip smacking.</p>
                <!-- <a href="#" class="read_more">Read More</a> -->
                <div class="text-start">
                    <ul class="dt-sc-social-icons dt-sc-list-inline">
                      <li>
                        <a class="icon-fallback-text fb hexagon" target="blank" href="https://www.facebook.com/rasayati.cuvai/?ref=page_internal" title="Facebook">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                          <span class="icon__fallback-text">Facebook</span>
                        </a>
                      <li>
                        <a class="icon-fallback-text ins" target="blank" href="#" title="Instagram">
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                          <span class="icon__fallback-text">Instagram</span>
                        </a>
                      </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="footer_links footer_links_help">
                <h4 class="footer__title">Help</h4>
                <ul class="footer_menu dt-sc-list">
                    <li><a href="/search">Search</a></li>
                    <li><a href="/search">Help</a></li>
                    <li><a href="/pages/faqs">Information</a></li>
                    <li><a href="/pages/contact-us">Privacy Policy</a></li>
                    <li><a href="/pages/shipping-details">Shipping Details</a></li>
                </ul>
            </div> -->
            <div class="footer_links footer_links_supp">
                <h4 class="footer__title">Support</h4>
                <ul class="footer_menu dt-sc-list">
                    <li><a routerLink='/contact'>Contact us</a></li>
                    <li><a routerLink='/about'>About us</a></li>
                    <!-- <li><a href="/pages/faqs">Careers</a></li> -->
                    <!-- <li><a href="/pages/shipping-details">Refunds </a></li> -->
                    <!-- <li><a href="/pages/wishlist">Deliveries</a></li> -->
                </ul>
            </div>
            <!-- <div class="footer_links footer_links_info">
                <h4 class="footer__title">Information</h4>
                <ul class="footer_menu dt-sc-list">
                    <li><a href="/search">Search Terms</a></li>
                    <li><a href="/search">Advanced Search</a></li>
                    <li><a href="/pages/faqs">Help &amp; Faq's</a></li>
                    <li><a href="/pages/contact-us">Store Location</a></li>
                    <li><a href="/pages/shipping-details">Orders &amp; Returns</a></li>  
                </ul>
            </div> -->
            <div class="footer_links">
                <h4 class="footer__title">Contact us</h4>
                <ul class="contact-info">
                    <li class="address">         
                      <address> <i class="fa fa-home"></i>11244 Niki Lauda 455 Bangluru</address>
                    </li>
                    <li class="contact-phone">    
                      <i class="fa fa-phone"></i>+91 94832 46424    
                    </li>
                    <li class="office-hours">
                      <i class="fa fa-clock-o"></i>9.30AM - 7.30PM
                    </li>
                    <li class="office-mail">
                      <a href="mailto:
                      rasayati.cuvai@gmail.com">
                        <i class="fa fa-envelope"></i>
                        rasayati.cuvai@gmail.com</a>     
                    </li> 
                  </ul>
            </div>
        </div>
        <div class="site-footer__bottom">
            <div class="container spacing_enabled"> 
              <div class="row">
                <div class="dt-sc-flex-space-between">
                  
                  <div class="footer__copyright grid__item wide--one-third post-large--one-third large--one-third medium--one-whole">
                    <p class="copyright-text">Copyright © 2021 Rasayati All rights reserved.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</footer>


