<header class="header_cls">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light header_wrap">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="/"><img src="../../assets/img/rasayati_logo.jpeg" class="img-fluid logo_wrap"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/shop">Shop</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/blog">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                  </li>
                </ul>
                <div class="right_bar">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
              </div>
            </div>
          </nav>
    </div>
  </header>