<app-header></app-header>
<section class="about_banner">
    <div class="container">
        <div class="common_heading_banner">
            <h1>Shop</h1>
            <p class="bread_wrap"><a routerLink="/" class="home_bread">Home</a> / Shop</p>
        </div>
    </div>
</section>

<section class="common_padding shop_sty">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <!-- <div class="shop_wrap">
                    <h3 class="common_design"><a href="#">Category</a></h3>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              Masalas
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body shop_list">
                                <ul>
                                    <li><a href="#">Maggi </a></li>
                                    
                                    <li><a href="#">Everest</a></li>
                                    
                                    <li><a href="#">Badshah</a></li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              Chat Masalas
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body shop_list">
                                <ul>
                                    <li><a href="#">Maggi </a></li>
                                    
                                    <li><a href="#">Everest</a></li>
                                    
                                    <li><a href="#">Badshah</a></li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              Pepper powder
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body shop_list">
                                <ul>
                                    <li><a href="#">Maggi </a></li>
                                    
                                    <li><a href="#">Everest</a></li>
                                    
                                    <li><a href="#">Badshah</a></li>
                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                </div> -->
                <!-- <div class="shop_wrap">
                    <h3 class="common_design"><a href="#">Shop By Weight</a></h3>
                    <ul class="list_shop_wrap">
                        <li>250 gm</li>
                        <li>500 gm</li>
                        <li>1 kg</li>
                        <li>2 kg</li>
                        <li>3 kg</li>
                    </ul>
                </div>
                <div class="shop_wrap">
                    <h3 class="common_design"><a href="#">Shop By Price</a></h3>
                    <ul class="list_shop_wrap">
                        <li>$200-$300</li>
                        <li>$200-$300</li>
                        <li>$200-$300</li>
                        <li>$200-$300</li>
                        <li>$200-$300</li>
                    </ul>
                </div> -->

                <!-- <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
                      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                    </div>
                  </div> -->
                <div class="shop_wrap">
                    <h3 class="common_design"><a href="#">Shop By Category</a></h3>
                    <div class="nav flex-column nav-pills me-3 list_shop_wrap" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Powders</button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Tokkus/Gojju(Chutney)</button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Ready Mix</button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Pickles</button>
                      </div>
                </div>

            </div>

            <div class="col-sm-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="col-sm-12">
                            <div class="grid_list_shop">
                                <div class="row">
                                    <div class="col-sm-3">
                                       <div class="show_wrap_grid_ui">
                                           <img src="../../assets/img/powder-1.jpg" class="img-fluid shom_wp_img">
                                            <h3 class="heading_shp"><a href="">Pepper Rasam Powder (250 gms)</a></h3>
                                            <p>₹190.00</p>
                                            <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                       </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/powder-2.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Bisibele bath Powder (250 gms)</a></h3>
                                             <p>₹165.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/powder-3.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Flax Seeds (Chutney) Powder</a></h3>
                                             <p>₹160.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/powder-4.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Sambhar Powder (250 gms)</a></h3>
                                             <p>₹140.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/powder-5.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Vangi Bhath Powder (250 gms)</a></h3>
                                             <p>₹140.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/powder-6.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Curry Leaves Powder (250 gms)</a></h3>
                                             <p>₹150.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/powder-7.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Chutney Pudi (250 gms)</a></h3>
                                             <p>₹140.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/powder-8.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Methi Seeds Powder (250 gms)</a></h3>
                                             <p>₹140.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div> 
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/powder-9.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Rasam Powder (250 gms)</a></h3>
                                             <p>₹165.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div> 
            
            
                                </div>
            
                                <!-- <div class="pagination_wrap">
                                    <nav aria-label="...">
                                        <ul class="pagination">
                                          <li class="page-item disabled">
                                            <span class="page-link">Previous</span>
                                          </li>
                                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item " aria-current="page">
                                            <span class="page-link">2</span>
                                          </li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                          </li>
                                        </ul>
                                      </nav>
                                </div> -->
            
                            </div>
                            
                        </div>
    
    
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="col-sm-12"  aria-labelledby="tokku-tab"  >
                            <div class="grid_list_shop">
                                <div class="row">
                                    <div class="col-sm-3">
                                       <div class="show_wrap_grid_ui">
                                           <img src="../../assets/img/tokku-1.jpg" class="img-fluid shom_wp_img">
                                            <h3 class="heading_shp"><a href="">Thecha (Red Chilli) (250 gms)</a></h3>
                                            <p>₹100.00</p>
                                            <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                       </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/feature-tokku-2.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Gongura Tokku (250 gms)</a></h3>
                                             <p>₹150.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/feature-tokku-3.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Iyengar Puliogre Gojju (250 gms)</a></h3>
                                             <p>₹140.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/feature-tokku.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Tomato Tokku (250 gms)</a></h3>
                                             <p>₹140.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                </div>
            
                                <!-- <div class="pagination_wrap">
                                    <nav aria-label="...">
                                        <ul class="pagination">
                                          <li class="page-item disabled">
                                            <span class="page-link">Previous</span>
                                          </li>
                                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item " aria-current="page">
                                            <span class="page-link">2</span>
                                          </li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                          </li>
                                        </ul>
                                      </nav>
                                </div> -->
            
                            </div>
                            
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="col-sm-12" id="ready-mix" aria-labelledby="ready-mix-tab" >
                            <div class="grid_list_shop">
                                <div class="row">
                                    <div class="col-sm-3">
                                       <div class="show_wrap_grid_ui">
                                           <img src="../../assets/img/mix-1.jpg" class="img-fluid shom_wp_img">
                                            <h3 class="heading_shp"><a href="">Instant Rava Idli Mix (250gms)</a></h3>
                                            <p>₹80.00</p>
                                            <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                       </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/mix-2.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Instant Rava Upma Mix (250 gms)</a></h3>
                                             <p>₹105.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/mix-3.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Chutney Pudi (250 gms)</a></h3>
                                             <p>₹140.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                </div>
            
                                <!-- <div class="pagination_wrap">
                                    <nav aria-label="...">
                                        <ul class="pagination">
                                          <li class="page-item disabled">
                                            <span class="page-link">Previous</span>
                                          </li>
                                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item " aria-current="page">
                                            <span class="page-link">2</span>
                                          </li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                          </li>
                                        </ul>
                                      </nav>
                                </div> -->
            
                            </div>
                            
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="col-sm-12" id="Pickles" aria-labelledby="Pickles-tab">
                            <div class="grid_list_shop">
                                <div class="row">
                                    <div class="col-sm-3">
                                       <div class="show_wrap_grid_ui">
                                           <img src="../../assets/img/pickle-1.jpg" class="img-fluid shom_wp_img">
                                            <h3 class="heading_shp"><a href="">Amla Pickle (Oil Cooked) (250 gms)</a></h3>
                                            <p>₹150.00</p>
                                            <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                       </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/pickle-2.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Mango Pickle (250 gms)</a></h3>
                                             <p>₹112.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/pickle-3.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Amla Pickle (250 gms)</a></h3>
                                             <p>₹130.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="show_wrap_grid_ui">
                                            <img src="../../assets/img/pickle-4.jpg" class="img-fluid shom_wp_img">
                                             <h3 class="heading_shp"><a href="">Lemon Pickle (250 gms)</a></h3>
                                             <p>₹125.00</p>
                                             <img src="../../assets/img/star-img.png" class="img-fluid star_img">
                                        </div>
                                    </div>
                                </div>
            
                                <!-- <div class="pagination_wrap">
                                    <nav aria-label="...">
                                        <ul class="pagination">
                                          <li class="page-item disabled">
                                            <span class="page-link">Previous</span>
                                          </li>
                                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item " aria-current="page">
                                            <span class="page-link">2</span>
                                          </li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                          </li>
                                        </ul>
                                      </nav>
                                </div> -->
            
                            </div>
                            
                        </div>
                    </div>
                  

                  </div>
            </div>

         
          
            
           
           
        </div>
    </div>
</section>
<app-footer></app-footer>
