<app-header></app-header>
<section class="about_banner">
    <div class="container">
        <div class="common_heading_banner">
            <h1>Blog</h1>
            <p class="bread_wrap"><a routerLink="/" class="home_bread">Home</a> / Blog</p>
        </div>
    </div>
</section>
<section class="common_padding blog_wrap">
 <div class="container">
     <div class="row">
         <div class="col-sm-3">
            <div class="blog_recent">
                <div class="blog_recent_heading">
                    <h4 class="recent_heading">Recent articles</h4>
                    <div class="blog_recnt_wrap">
                        <div class="blog_img_recent">
                            <img src="../../assets/img/blog-recent-1.jpg" class="img-fluid">
                        </div>
                        <div class="blog_content_recent">
                           <h3><a href="#">Black pepper powder</a></h3>
                           <p>Quis imperdiet massa tincidunt nunc...</p>
                        </div>
                    </div>
                    <div class="blog_recnt_wrap">
                        <div class="blog_img_recent">
                            <img src="../../assets/img/blog-recent-1.jpg" class="img-fluid">
                        </div>
                        <div class="blog_content_recent">
                           <h3><a href="#">Black pepper powder</a></h3>
                           <p>Quis imperdiet massa tincidunt nunc...</p>
                        </div>
                    </div>
                    <div class="blog_recnt_wrap">
                        <div class="blog_img_recent">
                            <img src="../../assets/img/blog-recent-1.jpg" class="img-fluid">
                        </div>
                        <div class="blog_content_recent">
                           <h3><a href="#">Black pepper powder</a></h3>
                           <p>Quis imperdiet massa tincidunt nunc...</p>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">
                  <div class="wrap_recent">
                      <img src="../../assets/img/blog-recent-1.jpg" class="img-fluid">
                      <h3 class="heading_blog"><a href="#">Black pepper powder</a></h3>
                      <p class="blog_para">Quis imperdiet massa tincidunt nunc pulvinar sapien et. Gravida quis blandit turpis cursus in hac. Fames ac turpis egestas integer eget aliquet nib...</p>
                      <a href="#" class="readmore_link">Read more</a>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="wrap_recent">
                        <img src="../../assets/img/blog-recent-2.jpg" class="img-fluid">
                        <h3 class="heading_blog"><a href="#">Black pepper powder</a></h3>
                        <p class="blog_para">Quis imperdiet massa tincidunt nunc pulvinar sapien et. Gravida quis blandit turpis cursus in hac. Fames ac turpis egestas integer eget aliquet nib...</p>
                        <a href="#" class="readmore_link">Read more</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="wrap_recent">
                        <img src="../../assets/img/blog-recent-3.jpg" class="img-fluid">
                        <h3 class="heading_blog"><a href="#">Black pepper powder</a></h3>
                        <p class="blog_para">Quis imperdiet massa tincidunt nunc pulvinar sapien et. Gravida quis blandit turpis cursus in hac. Fames ac turpis egestas integer eget aliquet nib...</p>
                        <a href="#" class="readmore_link">Read more</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="wrap_recent">
                        <img src="../../assets/img/blog-recent-4.jpg" class="img-fluid">
                        <h3 class="heading_blog"><a href="#">Black pepper powder</a></h3>
                        <p class="blog_para">Quis imperdiet massa tincidunt nunc pulvinar sapien et. Gravida quis blandit turpis cursus in hac. Fames ac turpis egestas integer eget aliquet nib...</p>
                        <a href="#" class="readmore_link">Read more</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="wrap_recent">
                        <img src="../../assets/img/blog-recent-5.jpg" class="img-fluid">
                        <h3 class="heading_blog"><a href="#">Black pepper powder</a></h3>
                        <p class="blog_para">Quis imperdiet massa tincidunt nunc pulvinar sapien et. Gravida quis blandit turpis cursus in hac. Fames ac turpis egestas integer eget aliquet nib...</p>
                        <a href="#" class="readmore_link">Read more</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="wrap_recent">
                        <img src="../../assets/img/blog-recent-6.jpg" class="img-fluid">
                        <h3 class="heading_blog"><a href="#">Black pepper powder</a></h3>
                        <p class="blog_para">Quis imperdiet massa tincidunt nunc pulvinar sapien et. Gravida quis blandit turpis cursus in hac. Fames ac turpis egestas integer eget aliquet nib...</p>
                        <a href="#" class="readmore_link">Read more</a>
                    </div>
                  </div>
            </div>

            <div class="pagination_wrap">
                <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                      </li>
                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                      <li class="page-item " aria-current="page">
                        <span class="page-link">2</span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
            </div>
             
        </div>
     </div>
 </div>
</section>
<app-footer></app-footer>