.recent_heading {
    background: #e9e9e9;
    padding: 10px 10px;
    border-left: 3px solid #9f4215;
    margin-bottom: 20px;
}
.blog_img_recent img {
    width: 100px;
}
.blog_recnt_wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.blog_content_recent p {
    margin-bottom: 0;
    font-size: 12px;
}
.blog_content_recent h3 a{
    color: #000;
}
.blog_content_recent {
    margin-left: 10px;
}
.heading_blog a{
  color:#000;
}
.heading_blog {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 14px;
}
.blog_para{
    font-size: 14px;
    margin-bottom: 20px;
}
.wrap_recent {
    text-align: center;
    margin-bottom: 20px;
}
.readmore_link {
    padding: 7px 10px;
    border: 2px solid #9f4215;
    color: #000;
    border-radius: 50px;
    font-size: 16px;
    display: block;
    width: 110px;
    margin: auto;
}
