<app-header></app-header>
<section class="banner_spices">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/rasayati_bg.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="herb_wrap"> Herbs & Spices</h1>
                <p class="flat_wrap">Flat 10% Off</p>
                <h6 class="coupon">use coupon : <span>RS18</span></h6>
            </div>

          </div>
          <!-- <div class="carousel-item">
            <img src="../../assets/img/banner-img.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="herb_wrap">The choice of chefs</h1>
                <p class="flat_wrap">15% off on spices</p>
                <h6 class="coupon">use coupon : <span>RS18</span></h6>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/banner-img.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="herb_wrap">All Organic Spices...</h1>
                <p class="flat_wrap">20% off all products</p>
                <h6 class="coupon">use coupon : <span>RS18</span></h6>
            </div>
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
<section class="common_padding blog_product_wrp">
    <div class="container">
        <div class="heading_main">
            <h3>Best Products</h3>
            <p>Quality in a product or service is not what the supplier puts in. it is what the customer gets out and is willing to pay for.</p>
            <img src="../../assets/img/star-img.png" class="img-fluid">
        </div>
        <div class="tabs_wrap">
            <ul class="nav nav-pills mb-3 display_tab" id="pills-tab" role="tablist">
                <li class="nav-item pt_tbs" role="presentation">
                  <button class="nav-link active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Tokku/Gujjus</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Powders</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="best_product">
                        <div class="best_product_list">
                            <img src="../../assets/img/feature-tokku.jpg" class="img-fluid allProducts">
                            <h3>Tomato Tokku (250 gms)</h3>
                            <p>₹140.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="best_product_list">
                            <img src="../../assets/img/feature-tokku-2.jpg" class="img-fluid allProducts">
                            <h3>Gongura Tokku (250 gms)</h3>
                            <p>₹150.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="best_product_list">
                            <img src="../../assets/img/feature-tokku-3.jpg" class="img-fluid allProducts">
                            <h3>Iyengar Puliogre Gojju (250 gms)</h3>
                            <p>₹140.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="best_product_list">
                            <img src="../../assets/img/feature-tokku-4.jpg" class="img-fluid allProducts">
                            <h3>Raw Tamarind Tokku (250 gms)</h3>
                            <p>₹150.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="best_product_list">
                            <img src="../../assets/img/feature-tokku-5.jpg" class="img-fluid allProducts">
                            <h3>Mango Tokku (250 gms)</h3>
                            <p>₹150.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="best_product">
                        <div class="best_product_list">
                            <img src="../../assets/img/powder-5.jpg" class="img-fluid allProducts">
                            <h3>Vangi Bhath Powder (250 gms)</h3>
                            <p>₹140.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="best_product_list">
                            <img src="../../assets/img/powder-6.jpg" class="img-fluid allProducts">
                            <h3>Curry Leaves Powder (250 gms)</h3>
                            <p>₹150.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="best_product_list">
                            <img src="../../assets/img/powder-4.jpg" class="img-fluid allProducts">
                            <h3>Sambhar Powder (250 gms)</h3>
                            <p>₹140.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="best_product_list">
                            <img src="../../assets/img/powder-8.jpg" class="img-fluid allProducts">
                            <h3>Methi Seeds Powder (250 gms)</h3>
                            <p>₹140.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="best_product_list">
                            <img src="../../assets/img/powder-9.jpg" class="img-fluid allProducts">
                            <h3>Rasam Powder (250 gms)</h3>
                            <p>₹165.00</p>
                            <ul class="list_star">
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                             <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="healthy_herb">
 <div class="container">
    <div class="dt-sc-grid-banner-inner text-start">
        <p class="dt-sc-sub-title">Healthy Herbs</p>
        <h4 class="dt-sc-main-title">Get 10% off <br>On all Spicy &amp; Herbs</h4>
        <p class="dt-sc-description">Time is an herb that cures all Diseases.</p>
        <div class="dt-sc-btn-group">
          <!-- <a href="/collections" class="dt-sc-btn btn_1 btn btn-outline-primary view_more">View more</a> -->
          <a routerLink="/shop" class="dt-sc-btn btn_2 btn btn-outline-primary shop_now">Shop Now</a>
        </div>
        </div>
 </div>
</section>

<section class="common_padding contact_form">
    <div class="container">
        <div class="heading_main">
            <h3>Contact Us</h3>
            <p>We're here to help and answer any question you might have.We look forward to hear you.</p>
            <img src="../../assets/img/star-img.png" class="img-fluid">
        </div>
        <div class="form_wrap">
            <form name="form" (ngSubmit)="f.form.valid && sendMail(f)" #f="ngForm" novalidate>
                <div class="row">
                    <div class="col-sm-4">
                                <!-- Name Field -->
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control input_sty" placeholder="Enter Your Name" id="user_name" name="user_name" [(ngModel)]="model.user_name" #user_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && user_name.invalid }" required>
                                    <div *ngIf="f.submitted && user_name.invalid" class="invalid-feedback">
                                        <div *ngIf="user_name.errors?.['required']">Name is required</div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-sm-4">
                                <!-- Email Field -->
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control input_sty" placeholder="Enter Your Email" name="email" id="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                        <div *ngIf="email.errors?.['required']">Email is required</div>
                                        <div *ngIf="email.errors?.['email']">Email must be a valid email address</div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-sm-4">
                                <!-- Phone Field -->
                                <div class="form-group">
                                    <label>Phone No</label>
                                    <input type="text" class="form-control input_sty" placeholder="Enter Your Phone No" name="phone" id="phone" [(ngModel)]="model.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required minlength="10" maxlength="10">
                                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                                        <div *ngIf="phone.errors?.['required']">Phone number is required</div>
                                        <div *ngIf="phone.errors?.['minlength']">Phone number must be at least 10 digits</div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-sm-12 mt-4 btn_form_sub">
                        <div class="form-group">
                            <button class="btn btn-primary read_more_product">Submit</button> 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<!-- <section class=" common_padding blog_post_wrap">
    <div class="container">
        <div class="heading_main">
            <h3>Blog Post</h3>
            <p>Suspendisse potenti nullam ac tortor vitae purus faucibus orn.</p>
            <img src="../../assets/img/star-img.png" class="img-fluid">
        </div>

        <div id="blogProduct" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row">
                     <div class="col-sm-6">
                         <div class="blog_img">
                             <img src="../../assets/img/blog-img.jpg" class="d-block w-100" alt="...">
                         </div>
                     </div>
                     <div class="col-sm-6 blog_content_wrap">
                        <div class="blog_content">
                            <div class="dt-sc-blog-content">
                                <h4 class="dt-sc-blog-title"><a href="/blogs/news/the-full-cardamom"> The full cardamom</a></h4>
                                <div class="dt-sc-blog-meta ">
                                  <p class="dt-sc-blog-author"> <span><i class="fa fa-user"></i>by Ram M</span></p>
                                  <p class="dt-sc-blog-date">                    
                                    <time datetime="2018-11-14T06:44:00Z"><i class="fa fa-calendar"></i> | November 13, 2018</time>
                                  </p>
                                  <p class="dt-sc-blog-comment"><i class="fa fa-comments"></i> | 2 comments</p>
                                </div>
                                <div class="dt-sc-blog-description">
                                  Gravida quis blandit turpis cursus in hac. Fames ac turpis egestas integer eget aliquet nibh praesent. Elementum facilisis leo vel fringilla est ul...
                                </div>
                                <a href="/blogs/news/the-full-cardamom" class="btn btn-primary read_more_product"> Read more</a> 
                                
                            </div>
                        </div>
                     </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="blog_img">
                            <img src="../../assets/img/blog-img-1.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 blog_content_wrap">
                       <div class="blog_content">
                           <div class="dt-sc-blog-content">
                               <h4 class="dt-sc-blog-title"><a href="/blogs/news/the-full-cardamom"> The full cardamom</a></h4>
                               <div class="dt-sc-blog-meta ">
                                 <p class="dt-sc-blog-author"> <span><i class="fa fa-user"></i>by Ram M</span></p>
                                 <p class="dt-sc-blog-date">                    
                                   <time datetime="2018-11-14T06:44:00Z"><i class="fa fa-calendar"></i> | November 13, 2018</time>
                                 </p>
                                 <p class="dt-sc-blog-comment"><i class="fa fa-comments"></i> | 2 comments</p>
                               </div>
                               <div class="dt-sc-blog-description">
                                 Gravida quis blandit turpis cursus in hac. Fames ac turpis egestas integer eget aliquet nibh praesent. Elementum facilisis leo vel fringilla est ul...
                               </div>
                               <a href="/blogs/news/the-full-cardamom" class="btn btn-primary read_more_product"> Read more</a> 
                               
                           </div>
                       </div>
                    </div>
                 </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#blogProduct" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#blogProduct" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </div>
</section>


<section class=" common_padding quality_product">
    <div class="container">
        <div class="heading_main">
            <h3>Premium Quality Products</h3>
            <p>At volutpat diam ut venenatis tellus in metus vulputate sit set ramet sagit.</p>
            <img src="../../assets/img/star-img.png" class="img-fluid">
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="img_prod">
                    <img src="../../assets/img/product-img.jpg" class="img-fluid">
                </div>
                <div class="product_content">
                    <h3>Spicy Masalas</h3>
                    <p>Porem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="btn btn-primary read_more_product">Read More</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="img_prod">
                    <img src="../../assets/img/product-img.jpg" class="img-fluid">
                </div>
                <div class="product_content">
                    <h3>Spicy Masalas</h3>
                    <p>Porem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="btn btn-primary read_more_product">Read More</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="img_prod">
                    <img src="../../assets/img/product-img.jpg" class="img-fluid">
                </div>
                <div class="product_content">
                    <h3>Spicy Masalas</h3>
                    <p>Porem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="btn btn-primary read_more_product">Read More</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="img_prod">
                    <img src="../../assets/img/product-img.jpg" class="img-fluid">
                </div>
                <div class="product_content">
                    <h3>Spicy Masalas</h3>
                    <p>Porem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="btn btn-primary read_more_product">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section> -->

<app-footer></app-footer>